nav {
    display: flex; 
    background-color: black;
}


.logo {
    margin-left: 20px;
}

.logo img {
    max-width: 75px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 15pt;
}

.menu a:hover {
    background-color: rgba(66, 66, 66, 0.87);
}